ORACLE_HOST=localhost
ORACLE_PORT=1522
ORACLE_SERVICE=
ORACLE_USER=
ORACLE_PASSWORD=

HDFS_WEBHDFS_URL=
HDFS_USER=
HDFS_ROOT=

DATA_GO_KR_SERVICE_KEY=<발급받은 일반 인증키(Decoding) 전체>
ALIO_API_URL=https://apis.data.go.kr/1051000/recruitment
MPM_API_URL=https://apis.data.go.kr/1760000/PblJobService

KOSIS_API_KEY=<KOSIS 사용자 인증키>

DATA_SOURCE=alio